name: "Mirror main to lineage-* branches"
on:
  push:
    branches:
      - main
jobs:
  mirror-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: mirror branches
        run: |
          git fetch origin main
          git push origin -f refs/remotes/origin/main:refs/heads/lineage-18.1
          git push origin -f refs/remotes/origin/main:refs/heads/lineage-19.1
          git push origin -f refs/remotes/origin/main:refs/heads/lineage-20.0
